$header-font: 'Press Start 2P', cursive;
$body-font: 'Work Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $body-font;
  line-height: 1.5;
  font-weight: 400;
}

body {
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: $body-font;
}

h1 {
  font-size: 350%;
}
h2 {
  font-size: 250%;
}
h3 {
  font-size: 180%;
}
h4 {
  font-size: 160%;
}
h5 {
  font-size: 140%;
}
h5 {
  font-size: 120%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.5rem;
  margin: .5rem 0;
}

.animationFade {
  opacity: 0;
}

.title-no-show {
  display: none;
}

.spriteCanvas {
  height: 452;
  width: 420;
}

.titleBackground {
  background-color: red;
  height: 452;
  width: 420;
}

.title-animation-div {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  overflow: hidden;
  background-color:white;

  transition: all 3s ease;
  justify-content: center;
  align-items: center;
}
