$header-font: 'Press Start 2P', cursive;
$body-font: 'Open Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $body-font;
}

h1 {
  font-size: 300%;
}
h2 {
  font-size: 250%;
  padding-bottom: 2rem;
}
h3 {
  font-size: 180%;
  padding-bottom: 1.5rem;
}
h4 {
  font-size: 160%;
}
h5 {
  font-size: 140%;
}
h5 {
  font-size: 120%;
}

a {
  text-decoration: none;
  color: inherit;
}
