$header-font: 'Press Start 2P', cursive;
$body-font: 'Work Sans', sans-serif;
// $red: #fe4560;
$red: #fc6f23;
$blue: #98b5cc;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $body-font;
  line-height: 1.5;
  font-weight: 400;
}

body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $body-font;
}

h1 {
  font-size: 350%;
}
h2 {
  font-size: 250%;
}
h3 {
  font-size: 180%;
}
h4 {
  font-size: 160%;
}
h5 {
  font-size: 140%;
}
h5 {
  font-size: 120%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.animationFade {
  opacity: 0;
}

.title-no-show {
  display: none;
}

.spriteCanvas {
  height: 452;
  width: 420;
}

.titleBackground {
  background-color: red;
  height: 452;
  width: 420;
}

.title-animation-div {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: white;
  transition: all 3s ease;
  justify-content: center;
  align-items: center;
}

.tourImage {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.showTime {
  font-family: 'CoreCircus', sans-serif;
  text-transform: uppercase;
  font-size: 6rem;
  text-align: center;
  line-height: 1;
  font-weight: normal;
  margin: 2rem auto;
  color: $red;
  letter-spacing: -0.4rem;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white, 1px 0px 0px $blue, 0px 1px 0px $blue, 2px 1px 0px $blue,
    1px 2px 0px $blue, 3px 2px 0px $blue, 2px 3px 0px $blue, 4px 3px 0px $blue,
    3px 4px 0px $blue, 5px 4px 0px $blue, 4px 5px 0px $blue, 6px 5px 0px $blue,
    5px 6px 0px $blue, 7px 6px 0px $blue, 8px 7px 0px white, 9px 8px 0px white;
}

.tour-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 1rem 0;
  font-weight: bold;
  color: black;

  &:hover {
    background: #cccccc;
    transition: all 0.1s ease;
    box-shadow: 0 0 5px 5px white inset;
  }
  p {
    min-width: 20%;
    text-align: right;
    padding-right: 1%;
  }

  .locationClass {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: lowercase;
    color: $red;
    text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
      1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
      4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
      4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
      7px 6px 1px #cccccc;
  }

  .leftAlign {
    text-align: left;
  }
}

.markdown {
  --mainColor: #ff9800;
  a:hover {
    background: linear-gradient(
      to bottom,
      var(--mainColor) 0%,
      var(--mainColor) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: rgb(29, 4, 248);
    font-weight: bold;
    text-decoration: bold;
  }

  a {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
    color: rgb(29, 4, 248);
    font-weight: bold;
  }
}

.facebookURL {
  text-align: center;
  font-weight: bold;
  color: #3414e9;
  font-size: 2rem;
  text-decoration: underline;
}
